{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    <div class="post">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
  </div>
{{ end }}

{{ define "footer" }}
{{ if .Site.GoogleAnalytics }}
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}
