<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      {{ with .Site.Params.authorimage }}
      {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
      {{ $homeURL := $.Site.BaseURL }}
      {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
      <div class="author-image">
        <a href="{{$homeURL}}">
            <img src="{{$authorImage}}" alt="Author Image" class="img--headshot element--center">
        </a>
      </div>
      {{ end }}
      <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{ else }} Your site's description {{end}}
      </p>
    </div>
    {{ partial "sidebar/menu.html" . }}
    <p>
      {{ partial "sidebar/social.html" . }}
    </p>
    <p class="copyright">
      {{ with .Site.Params.copyright }}{{.|safeHTML}}{{ else }}&copy; {{ now.Format "2006"}} {{.Site.Params.author}}.
      <a href="https://creativecommons.org/licenses/by-sa/4.0"> Licensed under CC 4.0 International License </a>.
      <br/>Built with
      <a href="https://gohugo.io">Hugo</a> ❤️ <a href="https://github.com/htr3n/hyde-hyde">hyde-hyde</a>.
      {{end}}
    </p>
  </div>
  <div>
  </div>
</div>
